body {
  font-size: 40px;
}

ul, ol {
  padding: 0;
}

li {
  margin-left: 60px;
}

.tag {
  border: solid 4px;
  margin: 5px;
}

.tag label {
  color: white;
  font-size: 25px;
  vertical-align: top;
  margin: ;
}

button {
  border:1px solid #25692A;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
}