@font-face {
	font-family: Arial-U;
	src: url("./arial-unicode-ms.ttf");
	font-style: normal;
}

body {
	background-color: #77c9d4;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Arial-U;
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200%;
}

.navBar {
	background: rgb(91, 136, 181);
	background: radial-gradient(circle, rgba(91, 136, 181, 1) 30%, rgba(119, 201, 212, 1) 100%);
	color: #eeeeee;
	display: flex;
	flex-direction: column;
	height: 50%;
	border-bottom: 1px solid black;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	text-align: center;
	font-size: 4vw;
}

.title h1 {
	width: 70vw;
}

.subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	color: #8e8e8e;
	height: 40vh;
	text-align: center;
	font-size: 1.2vw;
}

.subtitle a {
	height: 4vw;
	width: 12vw;
	background-color: #5b88b5;
	color: #e2e2e2;
	border-radius: 5px;

	cursor: pointer;
	margin-top: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.links {
	height: 50%;
	background: rgb(119, 201, 212);
	background: linear-gradient(90deg, rgba(119, 201, 212, 1) 0%, rgba(91, 136, 181, 1) 50%, rgba(119, 201, 212, 1) 100%);
}

.links a {
	text-decoration: none;
	color: #8e8e8e;
}

.steps:hover img {
	height: 90px;
	width: 90px;
	margin: 5px;
	margin-right: 10px;
}

.steps:hover {
	background-color: rgb(78, 116, 155);
}

.links .text {
	height: 15vh;
	font-size: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #eee;
	border-bottom: 1px solid black;
	margin: 0px 7vw;
}

.links .box-links {
	flex-wrap: wrap;
	background-color: #ececec;
	margin: 30px;
	padding: 10px;
	border-radius: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.steps {
	display: flex;
	margin: 10px;
	background: rgb(91, 136, 181);
	border-radius: 10px;
	border: 1px solid rgb(61, 61, 61);
}

.steps a {
	display: flex;
	align-items: flex-start;
}

.steps span {
	margin: 0px;
	margin-top: 20px;
	color: #eee;
	font-size: 1.1rem;
	margin-right: 10px;
}

img {
	height: 80px;
	width: 80px;
	margin: 10px;
	border-radius: 10px;
	background-color: white;
	margin-right: 15px;
}

@media (max-width: 980px) {
	.links .box-links {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 780px) {
	.links .box-links {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 580px) {
	.links .box-links {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 320px) {
	.steps > a > span {
		font-size: 0.8rem;
		margin-top: 10px;
	}

	img {
		height: 50px;
		width: 50px;
		margin: 10px;
		margin-right: 10px;
	}
}

@media (orientation: portrait) {
	.title {
		font-size: 6vw;
	}
	.subtitle {
		font-size: 1.8vw;
	}

	.subtitle a {
		height: 6vw;
		width: 18vw;
		font-size: 2vw;
	}

	.links .text {
		font-size: 3vw;
	}
}
