body {
  background-color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.navBar {
  background-color: black;
  height: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}