:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none; /* Borda ao redor do botão quando clica */
}

.button:active {   /* Quando o botão é clicado (está ativo) */
  background-color: #ccc;
}

.button.double { /* Botão ocupa duas posições*/
  grid-column: span 2;
}

.button.triple { /* Botão ocupa três posições*/
  grid-column: span 3;
}

.button.operation { /* botão das operações */
  background-color: #fa8231;
  color: #FFF;
}

.button.operation:active { /* botão das operações quando ativo */
  background-color: #fa8231cc;
}